
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
         <a class="navbar-brand" href="#" >SALUDO:</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
</nav>
<div class="p-2"> </div>
<div class="container conten mt-5">

	<div class="row row-cols-3 justify-content-end">
		<div class=" col-4 ">
			Hola 
		</div>
		<div class="col-4">
			Como estás?
		</div>
	</div>

</div>

 